*.map
*.bundle.js
*.min.js
*.log
dist/
coverage/
doc/
ydoc/
examples/app/
examples/js/
examples/ts/**/*.js
examples/typings/
src/ts/**/*.js
src/node/**/*.js
test/ts/**/*.js

karma_html/
node_modules/
